<input type="text" name="sTC034_name" value="Set publishing mode" />

<label for="sTC034_NsId">NsId:</label>
<input type="text" id="sTC034_NsId" name="sTC034_NsId" value="0" /><br />

<label for="sTC034_NodeId">NodeId:</label>
<input type="text" id="sTC034_NodeId" name="sTC034_NodeId" value="2258" /><br />

<label for="sTC034_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC034_NodeIdType"
  name="sTC034_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC034_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC034_BrowsePath"
  name="sTC034_BrowsePath"
  value="Objects/Server/ServerStatus/CurrentTime"
/><br />

<label for="sTC034_PublishingInterval">PublishingInterval:</label>
<input
  type="text"
  id="sTC034_PublishingInterval"
  name="sTC034_PublishingInterval"
  value="1000"
/><br />

<label for="sTC034_MaxNotification">MaxNotification:</label>
<input
  type="text"
  id="sTC034_MaxNotification"
  name="sTC034_MaxNotification"
  value="20"
/><br />

<label for="sTC034_KeepAliveCount">KeepAliveCount:</label>
<input
  type="text"
  id="sTC034_KeepAliveCount"
  name="sTC034_KeepAliveCount"
  value="5"
/><br />
