<input type="text" name="sTC011_name" value="Browse single node" />
<label for="sTC011_NsId">NsId:</label>
<input type="text" id="sTC011_NsId" name="sTC011_NsId" value="0" /><br />

<label for="sTC011_NodeId">NodeId:</label>
<input type="text" id="sTC011_NodeId" name="sTC011_NodeId" value="2253" /><br />

<label for="sTC011_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC011_NodeIdType"
  name="sTC011_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC011_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC011_BrowsePath"
  name="sTC011_BrowsePath"
  value="Objects/Server"
/><br />
