<input
  type="text"
  name="sTC041_name"
  value="Subscribe to a Server object with event filter"
/>
<label for="sTC041_NsId">NsId:</label>
<input type="text" id="sTC041_NsId" name="sTC041_NsId" value="0" /><br />

<label for="sTC041_NodeId">NodeId:</label>
<input type="text" id="sTC041_NodeId" name="sTC041_NodeId" value="2253" /><br />

<label for="sTC041_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC041_NodeIdType"
  name="sTC041_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC041_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC041_BrowsePath"
  name="sTC041_BrowsePath"
  value="Objects/Server"
/><br />

<label for="sTC041_PublishingInterval">PublishingInterval:</label>
<input
  type="text"
  id="sTC041_PublishingInterval"
  name="sTC041_PublishingInterval"
  value="1000"
/><br />

<label for="sTC041_MaxNotification">MaxNotification:</label>
<input
  type="text"
  id="sTC041_MaxNotification"
  name="sTC041_MaxNotification"
  value="20"
/><br />

<label for="sTC041_KeepAliveCount">KeepAliveCount:</label>
<input
  type="text"
  id="sTC041_KeepAliveCount"
  name="sTC041_KeepAliveCount"
  value="10"
/><br />

<label for="sTC041_QueueSize">QueueSize:</label>
<input
  type="text"
  id="sTC041_QueueSize"
  name="sTC041_QueueSize"
  value="10"
/><br />

<label for="sTC041_SeverityValue">SeverityValue:</label>
<input
  type="text"
  id="sTC041_SeverityValue"
  name="sTC041_SeverityValue"
  value="500"
/><br />
