<input type="text" name="sTC025_name" value="Read array" />
<label for="sTC025_NsId">NsId:</label>
<input type="text" id="sTC025_NsId" name="sTC025_NsId" value="1" /><br />

<label for="sTC025_NodeId">NodeId:</label>
<input
  type="text"
  id="sTC025_NodeId"
  name="sTC025_NodeId"
  value="51011"
/><br />

<label for="sTC025_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC025_NodeIdType"
  name="sTC025_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC025_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC025_BrowsePath"
  name="sTC025_BrowsePath"
  value="Objects/Demo/Array/Int16"
/><br />

<label for="sTC025_Reddunant">Redundant:</label>
<input
  type="text"
  id="sTC025_Redundant"
  name="sTC025_Redundant"
  value="false"
/><br />
