<input type="text" name="sTC022_name" value="Read Vendor Nodes" />
<label for="sTC022_NsId">NsId:</label>
<input type="text" id="sTC022_NsId" name="sTC022_NsId" value="1" /><br />

<label for="sTC022_NodeId">NodeId:</label>
<input
  type="text"
  id="sTC022_NodeId"
  name="sTC022_NodeId"
  value="test.value"
/><br />

<label for="sTC022_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC022_NodeIdType"
  name="sTC022_NodeIdType"
  value="String"
/><br />

<label for="sTC022_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC022_BrowsePath"
  name="sTC022_BrowsePath"
  value="Objects/test value"
/><br />
