<input type="text" name="sTC044c_name" value="Delete monitored item" />
<label for="sTC044c_NsId">NsId:</label>
<input type="text" id="sTC044c_NsId" name="sTC044c_NsId" value="0" /><br />

<label for="sTC044c_NodeId">NodeId:</label>
<input
  type="text"
  id="sTC044c_NodeId"
  name="sTC044c_NodeId"
  value="2258"
/><br />

<label for="sTC044c_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC044c_NodeIdType"
  name="sTC044c_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC044c_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC044c_BrowsePath"
  name="sTC044c_BrowsePath"
  value="Objects/Server/ServerStatus/CurrentTime"
/><br />

<label for="sTC044c_PublishingInterval">PublishingInterval:</label>
<input
  type="text"
  id="sTC044c_PublishingInterval"
  name="sTC044c_PublishingInterval"
  value="1000"
/><br />

<label for="sTC044c_MaxNotification">MaxNotification:</label>
<input
  type="text"
  id="sTC044c_MaxNotification"
  name="sTC044c_MaxNotification"
  value="20"
/><br />

<label for="sTC044c_KeepAliveCount">KeepAliveCount:</label>
<input
  type="text"
  id="sTC044c_KeepAliveCount"
  name="sTC044c_KeepAliveCount"
  value="10"
/><br />

<label for="sTC044c_QueueSize">QueueSize:</label>
<input
  type="text"
  id="sTC044c_QueueSize"
  name="sTC044c_QueueSize"
  value="10"
/><br />

<label for="sTC044c_SamplingInterval">SamplingInterval:</label>
<input
  type="text"
  id="sTC044c_SamplingInterval"
  name="sTC044c_SamplingInterval"
  value="1000"
/><br />

<label for="sTC044c_ModifiedQueueSize">ModifiedQueueSize:</label>
<input
  type="text"
  id="sTC044c_ModifiedQueueSize"
  name="sTC044c_ModifiedQueueSize"
  value="20"
/><br />

<label for="sTC044c_ModifiedSamplingInterval">ModifiedSamplingInterval:</label>
<input
  type="text"
  id="sTC044c_ModifiedSamplingInterval"
  name="sTC044c_ModifiedSamplingInterval"
  value="2000"
/><br />

<label for="sTC044c_Filter">Filter:</label>
<input
  type="text"
  id="sTC044c_Filter"
  name="sTC044c_Filter"
  value="opcua:event-type"
/><br />
