<input type="text" name="sTC028b_name" value="With in/out parameter" />
<label for="sTC028b_NsId">NsId:</label>
<input type="text" id="sTC028b_NsId" name="sTC028b_NsId" value="2" /><br />

<label for="sTC028b_NodeId">NodeId:</label>
<input
  type="text"
  id="sTC028b_NodeId"
  name="sTC028b_NodeId"
  value="Methods_Add"
/><br />

<label for="sTC028b_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC028b_NodeIdType"
  name="sTC028b_NodeIdType"
  value="String"
/><br />

<label for="sTC028b_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC028b_BrowsePath"
  name="sTC028b_BrowsePath"
  value="Objects/CTT/Methods/Add"
/><br />

<label for="sTC028b_ArgAName">ArgAName:</label>
<input
  type="text"
  id="sTC028b_ArgAName"
  name="sTC028b_ArgAName"
  value="Float value"
/><br />

<label for="sTC028b_ArgBName">ArgBName:</label>
<input
  type="text"
  id="sTC028b_ArgBName"
  name="sTC028b_ArgBName"
  value="UInt32 value"
/><br />

<label for="sTC028b_ValueA">ValueA:</label>
<input type="text" id="sTC028b_ValueA" name="sTC028b_ValueA" value="9" /><br />

<label for="sTC028b_ValueB">ValueB:</label>
<input type="text" id="sTC028b_ValueB" name="sTC028b_ValueB" value="4" /><br />
