<input type="text" name="sTC040_name" value="Subscribe to a Server object" />
<label for="sTC040_NsId">NsId:</label>
<input type="text" id="sTC040_NsId" name="sTC040_NsId" value="0" /><br />

<label for="sTC040_NodeId">NodeId:</label>
<input type="text" id="sTC040_NodeId" name="sTC040_NodeId" value="2253" /><br />

<label for="sTC040_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC040_NodeIdType"
  name="sTC040_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC040_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC040_BrowsePath"
  name="sTC040_BrowsePath"
  value="Objects/Server"
/><br />

<label for="sTC040_PublishingInterval">PublishingInterval:</label>
<input
  type="text"
  id="sTC040_PublishingInterval"
  name="sTC040_PublishingInterval"
  value="1000"
/><br />

<label for="sTC040_MaxNotification">MaxNotification:</label>
<input
  type="text"
  id="sTC040_MaxNotification"
  name="sTC040_MaxNotification"
  value="20"
/><br />

<label for="sTC040_KeepAliveCount">KeepAliveCount:</label>
<input
  type="text"
  id="sTC040_KeepAliveCount"
  name="sTC040_KeepAliveCount"
  value="10"
/><br />

<label for="sTC040_QueueSize">QueueSize:</label>
<input
  type="text"
  id="sTC040_QueueSize"
  name="sTC040_QueueSize"
  value="10"
/><br />
