<!-- sTC037.html -->

<label for="NsIdA_sTC037">NsIdA:</label>
<input type="text" id="NsIdA_sTC037" name="NsIdA_sTC037" value="0" /><br />

<label for="NodeIdA_sTC037">NodeIdA:</label>
<input
  type="text"
  id="NodeIdA_sTC037"
  name="NodeIdA_sTC037"
  value="2258"
/><br />

<label for="NodeIdTypeA_sTC037">NodeIdTypeA:</label>
<input
  type="text"
  id="NodeIdTypeA_sTC037"
  name="NodeIdTypeA_sTC037"
  value="Numeric"
/><br />

<label for="NsIdB_sTC037">NsIdB:</label>
<input type="text" id="NsIdB_sTC037" name="NsIdB_sTC037" value="0" /><br />

<label for="NodeIdB_sTC037">NodeIdB:</label>
<input
  type="text"
  id="NodeIdB_sTC037"
  name="NodeIdB_sTC037"
  value="2259"
/><br />

<label for="NodeIdTypeB_sTC037">NodeIdTypeB:</label>
<input
  type="text"
  id="NodeIdTypeB_sTC037"
  name="NodeIdTypeB_sTC037"
  value="Numeric"
/><br />

<label for="PublishingIntervalA_sTC037">PublishingIntervalA:</label>
<input
  type="text"
  id="PublishingIntervalA_sTC037"
  name="PublishingIntervalA_sTC037"
  value="1000"
/><br />

<label for="MaxNotificationA_sTC037">MaxNotificationA:</label>
<input
  type="text"
  id="MaxNotificationA_sTC037"
  name="MaxNotificationA_sTC037"
  value="20"
/><br />

<label for="KeepAliveCountA_sTC037">KeepAliveCountA:</label>
<input
  type="text"
  id="KeepAliveCountA_sTC037"
  name="KeepAliveCountA_sTC037"
  value="10"
/><br />

<label for="PublishingIntervalB_sTC037">PublishingIntervalB:</label>
<input
  type="text"
  id="PublishingIntervalB_sTC037"
  name="PublishingIntervalB_sTC037"
  value="500"
/><br />

<label for="MaxNotificationB_sTC037">MaxNotificationB:</label>
<input
  type="text"
  id="MaxNotificationB_sTC037"
  name="MaxNotificationB_sTC037"
  value="10"
/><br />

<label for="KeepAliveCountB_sTC037">KeepAliveCountB:</label>
<input
  type="text"
  id="KeepAliveCountB_sTC037"
  name="KeepAliveCountB_sTC037"
  value="5"
/><br />
