<input type="text" name="sTC047_name" value="Set absolute deadband" />
<label for="sTC047_NsId">NsId:</label>
<input type="text" id="sTC047_NsId" name="sTC047_NsId" value="2" /><br />

<label for="sTC047_NodeId">NodeId:</label>
<input type="text" id="sTC047_NodeId" name="sTC047_NodeId" value="2029" /><br />

<label for="sTC047_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC047_NodeIdType"
  name="sTC047_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC047_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC047_BrowsePath"
  name="sTC047_BrowsePath"
  value="Objects/NewPLC/Flag/System/_RTC_TOD"
/><br />

<label for="sTC047_PublishingInterval">PublishingInterval:</label>
<input
  type="text"
  id="sTC047_PublishingInterval"
  name="sTC047_PublishingInterval"
  value="1000"
/><br />

<label for="sTC047_MaxNotification">MaxNotification:</label>
<input
  type="text"
  id="sTC047_MaxNotification"
  name="sTC047_MaxNotification"
  value="20"
/><br />

<label for="sTC047_KeepAliveCount">KeepAliveCount:</label>
<input
  type="text"
  id="sTC047_KeepAliveCount"
  name="sTC047_KeepAliveCount"
  value="10"
/><br />

<label for="sTC047_QueueSize">QueueSize:</label>
<input
  type="text"
  id="sTC047_QueueSize"
  name="sTC047_QueueSize"
  value="10"
/><br />

<label for="sTC047_DeadbandValue">DeadbandValue:</label>
<input
  type="text"
  id="sTC047_DeadbandValue"
  name="sTC047_DeadbandValue"
  value="10"
/><br />
