<input type="text" name="sTC013_name" value="Browse reference filter" />
<label for="sTC013_NsId">NsId:</label>
<input type="text" id="sTC013_NsId" name="sTC013_NsId" value="0" /><br />

<label for="sTC013_NodeId">NodeId:</label>
<input type="text" id="sTC013_NodeId" name="sTC013_NodeId" value="2253" /><br />

<label for="sTC013_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC013_NodeIdType"
  name="sTC013_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC013_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC013_BrowsePath"
  name="sTC013_BrowsePath"
  value="Objects/Server"
/><br />
