<input type="text" name="sTC036_name" value="Publish Keep Alive message" />
<label for="sTC036_NsId">NsId:</label>
<input type="text" id="sTC036_NsId" name="sTC036_NsId" value="0" /><br />

<label for="sTC036_NodeId">NodeId:</label>
<input type="text" id="sTC036_NodeId" name="sTC036_NodeId" value="2259" /><br />

<label for="sTC036_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC036_NodeIdType"
  name="sTC036_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC036_PublishingInterval">PublishingInterval:</label>
<input
  type="text"
  id="sTC036_PublishingInterval"
  name="sTC036_PublishingInterval"
  value="1000"
/><br />

<label for="sTC036_MaxNotification">MaxNotification:</label>
<input
  type="text"
  id="sTC036_MaxNotification"
  name="sTC036_MaxNotification"
  value="20"
/><br />

<label for="sTC036_KeepAliveCount">KeepAliveCount:</label>
<input
  type="text"
  id="sTC036_KeepAliveCount"
  name="sTC036_KeepAliveCount"
  value="5"
/><br />
