<input type="text" name="sTC031_name" value="Create empty subscription" />
<label for="sTC031_PublishingInterval">PublishingInterval:</label>
<input
  type="text"
  id="sTC031_PublishingInterval"
  name="sTC031_PublishingInterval"
  value="1000"
/><br />

<label for="sTC031_MaxNotification">MaxNotification:</label>
<input
  type="text"
  id="sTC031_MaxNotification"
  name="sTC031_MaxNotification"
  value="20"
/><br />

<label for="sTC031_KeepAliveCount">KeepAliveCount:</label>
<input
  type="text"
  id="sTC031_KeepAliveCount"
  name="sTC031_KeepAliveCount"
  value="10"
/><br />
