<input
  type="text"
  name="sTC045_name"
  value="Set monitoring mode to reporting"
/>
<label for="sTC045_NsId">NsId:</label>
<input type="text" id="sTC045_NsId" name="sTC045_NsId" value="0" /><br />

<label for="sTC045_NodeId">NodeId:</label>
<input type="text" id="sTC045_NodeId" name="sTC045_NodeId" value="2258" /><br />

<label for="sTC045_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC045_NodeIdType"
  name="sTC045_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC045_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC045_BrowsePath"
  name="sTC045_BrowsePath"
  value="Objects/Server/ServerStatus/CurrentTime"
/><br />

<label for="sTC045_PublishingInterval">PublishingInterval:</label>
<input
  type="text"
  id="sTC045_PublishingInterval"
  name="sTC045_PublishingInterval"
  value="1000"
/><br />

<label for="sTC045_MaxNotification">MaxNotification:</label>
<input
  type="text"
  id="sTC045_MaxNotification"
  name="sTC045_MaxNotification"
  value="20"
/><br />

<label for="sTC045_KeepAliveCount">KeepAliveCount:</label>
<input
  type="text"
  id="sTC045_KeepAliveCount"
  name="sTC045_KeepAliveCount"
  value="10"
/><br />

<label for="sTC045_QueueSize">QueueSize:</label>
<input
  type="text"
  id="sTC045_QueueSize"
  name="sTC045_QueueSize"
  value="4"
/><br />
