<input type="text" name="sTC033_name" value="Delete existing subscription" />
<label for="sTC033_NsId">NsId:</label>
<input type="text" id="sTC033_NsId" name="sTC033_NsId" value="0" /><br />

<label for="sTC033_NodeId">NodeId:</label>
<input type="text" id="sTC033_NodeId" name="sTC033_NodeId" value="2258" /><br />

<label for="sTC033_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC033_NodeIdType"
  name="sTC033_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC033_PublishingInterval">PublishingInterval:</label>
<input
  type="text"
  id="sTC033_PublishingInterval"
  name="sTC033_PublishingInterval"
  value="1000"
/><br />

<label for="sTC033_MaxNotification">MaxNotification:</label>
<input
  type="text"
  id="sTC033_MaxNotification"
  name="sTC033_MaxNotification"
  value="20"
/><br />

<label for="sTC033_KeepAliveCount">KeepAliveCount:</label>
<input
  type="text"
  id="sTC033_KeepAliveCount"
  name="sTC033_KeepAliveCount"
  value="5"
/><br />
