<input type="text" name="sTC026_name" value="Write generic" />
<label for="sTC026_NsId">NsId:</label>
<input type="text" id="sTC026_NsId" name="sTC026_NsId" value="1" /><br />

<label for="sTC026_NodeId">NodeId:</label>
<input
  type="text"
  id="sTC026_NodeId"
  name="sTC026_NodeId"
  value="51016"
/><br />

<label for="sTC026_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC026_NodeIdType"
  name="sTC026_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC026_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC026_BrowsePath"
  name="sTC026_BrowsePath"
  value="Objects/Demo/Scalar/Int32"
/><br />

<label for="sTC026_Value">Value:</label>
<input type="text" id="sTC026_Value" name="sTC026_Value" value="9999" /><br />
