<input type="text" name="sTC032_name" value="Modify existing subscription" />
<label for="sTC032_NsId">NsId:</label>
<input type="text" id="sTC032_NsId" name="sTC032_NsId" value="0" /><br />

<label for="sTC032_NodeId">NodeId:</label>
<input type="text" id="sTC032_NodeId" name="sTC032_NodeId" value="2258" /><br />

<label for="sTC032_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC032_NodeIdType"
  name="sTC032_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC032_PublishingInterval">PublishingInterval:</label>
<input
  type="text"
  id="sTC032_PublishingInterval"
  name="sTC032_PublishingInterval"
  value="1000"
/><br />

<label for="sTC032_MaxNotification">MaxNotification:</label>
<input
  type="text"
  id="sTC032_MaxNotification"
  name="sTC032_MaxNotification"
  value="10"
/><br />

<label for="sTC032_KeepAliveCount">KeepAliveCount:</label>
<input
  type="text"
  id="sTC032_KeepAliveCount"
  name="sTC032_KeepAliveCount"
  value="10"
/><br />

<label for="sTC032_ModifiedPublishingInterval"
  >ModifiedPublishingInterval:</label
>
<input
  type="text"
  id="sTC032_ModifiedPublishingInterval"
  name="sTC032_ModifiedPublishingInterval"
  value="2000"
/><br />

<label for="sTC032_ModifiedKeepAliveCount">ModifiedKeepAliveCount:</label>
<input
  type="text"
  id="sTC032_ModifiedKeepAliveCount"
  name="sTC032_ModifiedKeepAliveCount"
  value="5"
/><br />

<label for="sTC032_ModifiedMaxNotification">ModifiedMaxNotification:</label>
<input
  type="text"
  id="sTC032_ModifiedMaxNotification"
  name="sTC032_ModifiedMaxNotification"
  value="15"
/><br />
