<!-- sTC037.html -->

<label for="sTC037_NsIdA">NsIdA:</label>
<input type="text" id="sTC037_NsIdA" name="sTC037_NsIdA" value="0" /><br />

<label for="sTC037_NodeIdA">NodeIdA:</label>
<input
  type="text"
  id="sTC037_NodeIdA"
  name="sTC037_NodeIdA"
  value="2258"
/><br />

<label for="sTC037_NodeIdTypeA">NodeIdTypeA:</label>
<input
  type="text"
  id="sTC037_NodeIdTypeA"
  name="sTC037_NodeIdTypeA"
  value="Numeric"
/><br />

<label for="NodeIdTypeA_sTC037">NodeIdTypeA:</label>
<input
  type="text"
  id="NodeIdTypeA_sTC037"
  name="NodeIdTypeA_sTC037"
  value="Numeric"
/><br />

<label for="sTC037_NsIdB">NsIdB:</label>
<input type="text" id="sTC037_NsIdB" name="sTC037_NsIdB" value="0" /><br />

<label for="sTC037_NodeIdB">NodeIdB:</label>
<input
  type="text"
  id="sTC037_NodeIdB"
  name="sTC037_NodeIdB"
  value="2259"
/><br />

<label for="sTC037_NodeIdTypeB">NodeIdTypeB:</label>
<input
  type="text"
  id="sTC037_NodeIdTypeB"
  name="sTC037_NodeIdTypeB"
  value="Numeric"
/><br />

<label for="sTC037_PublishingIntervalA">PublishingIntervalA:</label>
<input
  type="text"
  id="sTC037_PublishingIntervalA"
  name="sTC037_PublishingIntervalA"
  value="1000"
/><br />

<label for="sTC037_MaxNotificationA">MaxNotificationA:</label>
<input
  type="text"
  id="sTC037_MaxNotificationA"
  name="sTC037_MaxNotificationA"
  value="20"
/><br />

<label for="sTC037_KeepAliveCountA">KeepAliveCountA:</label>
<input
  type="text"
  id="sTC037_KeepAliveCountA"
  name="sTC037_KeepAliveCountA"
  value="10"
/><br />

<label for="sTC037_PublishingIntervalB">PublishingIntervalB:</label>
<input
  type="text"
  id="sTC037_PublishingIntervalB"
  name="sTC037_PublishingIntervalB"
  value="500"
/><br />

<label for="sTC037_MaxNotificationB">MaxNotificationB:</label>
<input
  type="text"
  id="sTC037_MaxNotificationB"
  name="sTC037_MaxNotificationB"
  value="10"
/><br />

<label for="sTC037_KeepAliveCountB">KeepAliveCountB:</label>
<input
  type="text"
  id="sTC037_KeepAliveCountB"
  name="sTC037_KeepAliveCountB"
  value="5"
/><br />
