<input type="text" name="sTC014_name" value="Browse node class filter" />
<label for="sTC014_NsId">NsId:</label>
<input type="text" id="sTC014_NsId" name="sTC014_NsId" value="0" /><br />

<label for="sTC014_NodeId">NodeId:</label>
<input type="text" id="sTC014_NodeId" name="sTC014_NodeId" value="2253" /><br />

<label for="sTC014_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC014_NodeIdType"
  name="sTC014_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC014_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC014_BrowsePath"
  name="sTC014_BrowsePath"
  value="Objects/Server"
/><br />
