<input type="text" name="sTC044a_name" value="Add monitored item" />
<label for="sTC044a_NsId">NsId:</label>
<input type="text" id="sTC044a_NsId" name="sTC044a_NsId" value="0" /><br />

<label for="sTC044a_NodeId">NodeId:</label>
<input
  type="text"
  id="sTC044a_NodeId"
  name="sTC044a_NodeId"
  value="2258"
/><br />

<label for="sTC044a_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC044a_NodeIdType"
  name="sTC044a_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC044a_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC044a_BrowsePath"
  name="sTC044a_BrowsePath"
  value="Objects/Server/ServerStatus/CurrentTime"
/><br />

<label for="sTC044a_PublishingInterval">PublishingInterval:</label>
<input
  type="text"
  id="sTC044a_PublishingInterval"
  name="sTC044a_PublishingInterval"
  value="1000"
/><br />

<label for="sTC044a_MaxNotification">MaxNotification:</label>
<input
  type="text"
  id="sTC044a_MaxNotification"
  name="sTC044a_MaxNotification"
  value="20"
/><br />

<label for="sTC044a_KeepAliveCount">KeepAliveCount:</label>
<input
  type="text"
  id="sTC044a_KeepAliveCount"
  name="sTC044a_KeepAliveCount"
  value="10"
/><br />

<label for="sTC044a_QueueSize">QueueSize:</label>
<input
  type="text"
  id="sTC044a_QueueSize"
  name="sTC044a_QueueSize"
  value="10"
/><br />
