<input type="text" name="sTC010_name" value="Multiple session" />
<label for="sTC010_NsIdA">NsIdA:</label>
<input type="text" id="sTC010_NsIdA" name="sTC010_NsIdA" value="0" /><br />

<label for="sTC010_NodeIdA">NodeIdA:</label>
<input
  type="text"
  id="sTC010_NodeIdA"
  name="sTC010_NodeIdA"
  value="2253"
/><br />

<label for="sTC010_NodeIdTypeA">NodeIdTypeA:</label>
<input
  type="text"
  id="sTC010_NodeIdTypeA"
  name="sTC010_NodeIdTypeA"
  value="Numeric"
/><br />

<label for="sTC010_NsIdB">NsIdB:</label>
<input type="text" id="sTC010_NsIdB" name="sTC010_NsIdB" value="0" /><br />

<label for="sTC010_NodeIdB">NodeIdB:</label>
<input
  type="text"
  id="sTC010_NodeIdB"
  name="sTC010_NodeIdB"
  value="2258"
/><br />

<label for="sTC010_NodeIdTypeB">NodeIdTypeB:</label>
<input
  type="text"
  id="sTC010_NodeIdTypeB"
  name="sTC010_NodeIdTypeB"
  value="Numeric"
/><br />

<label for="sTC010_BrowsePathA">BrowsePathA:</label>
<input
  type="text"
  id="sTC010_BrowsePathA"
  name="sTC010_BrowsePathA"
  value="Objects/Server"
/><br />

<label for="sTC010_BrowsePathB">BrowsePathB:</label>
<input
  type="text"
  id="sTC010_BrowsePathB"
  name="sTC010_BrowsePathB"
  value="Objects/Server/ServerStatus/CurrentTime"
/><br />

<label for="sTC010_PublishingInterval">PublishingInterval:</label>
<input
  type="text"
  id="sTC010_PublishingInterval"
  name="sTC010_PublishingInterval"
  value="1000"
/><br />

<label for="sTC010_MaxNotification">MaxNotification:</label>
<input
  type="text"
  id="sTC010_MaxNotification"
  name="sTC010_MaxNotification"
  value="20"
/><br />

<label for="sTC010_KeepAliveCount">KeepAliveCount:</label>
<input
  type="text"
  id="sTC010_KeepAliveCount"
  name="sTC010_KeepAliveCount"
  value="10"
/><br />

<label for="sTC010_QueueSize">QueueSize:</label>
<input
  type="text"
  id="sTC010_QueueSize"
  name="sTC010_QueueSize"
  value="10"
/><br />
