<input type="text" name="sTC021_name" value="Read UA Nodes" />
<label for="sTC021_NsId">NsId:</label>
<input type="text" id="sTC021_NsId" name="sTC021_NsId" value="0" /><br />

<label for="sTC021_NodeId">NodeId:</label>
<input type="text" id="sTC021_NodeId" name="sTC021_NodeId" value="2258" /><br />

<label for="sTC021_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC021_NodeIdType"
  name="sTC021_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC021_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC021_BrowsePath"
  name="sTC021_BrowsePath"
  value="Objects/Server/ServerStatus/CurrentTime"
/><br />
