<input type="text" name="sTC044b_name" value="Modify monitored item" />
<label for="sTC044b_NsId">NsId:</label>
<input type="text" id="sTC044b_NsId" name="sTC044b_NsId" value="0" /><br />

<label for="sTC044b_NodeId">NodeId:</label>
<input
  type="text"
  id="sTC044b_NodeId"
  name="sTC044b_NodeId"
  value="2258"
/><br />

<label for="sTC044b_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC044b_NodeIdType"
  name="sTC044b_NodeIdType"
  value="Numeric"
/><br />

<label for="sTC044b_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC044b_BrowsePath"
  name="sTC044b_BrowsePath"
  value="Objects/Server/ServerStatus/CurrentTime"
/><br />

<label for="sTC044b_PublishingInterval">PublishingInterval:</label>
<input
  type="text"
  id="sTC044b_PublishingInterval"
  name="sTC044b_PublishingInterval"
  value="1000"
/><br />

<label for="sTC044b_MaxNotification">MaxNotification:</label>
<input
  type="text"
  id="sTC044b_MaxNotification"
  name="sTC044b_MaxNotification"
  value="20"
/><br />

<label for="sTC044b_KeepAliveCount">KeepAliveCount:</label>
<input
  type="text"
  id="sTC044b_KeepAliveCount"
  name="sTC044b_KeepAliveCount"
  value="10"
/><br />

<label for="sTC044b_QueueSize">QueueSize:</label>
<input
  type="text"
  id="sTC044b_QueueSize"
  name="sTC044b_QueueSize"
  value="10"
/><br />

<label for="sTC044b_SamplingInterval">SamplingInterval:</label>
<input
  type="text"
  id="sTC044b_SamplingInterval"
  name="sTC044b_SamplingInterval"
  value="1000"
/><br />

<label for="sTC044b_ModifiedQueueSize">ModifiedQueueSize:</label>
<input
  type="text"
  id="sTC044b_ModifiedQueueSize"
  name="sTC044b_ModifiedQueueSize"
  value="20"
/><br />

<label for="sTC044b_ModifiedSamplingInterval">ModifiedSamplingInterval:</label>
<input
  type="text"
  id="sTC044b_ModifiedSamplingInterval"
  name="sTC044b_ModifiedSamplingInterval"
  value="2000"
/><br />
