<input type="text" name="sTC028a_name" value="No in/out parameter" />
<label for="sTC028a_NsId">NsId:</label>
<input type="text" id="sTC028a_NsId" name="sTC028a_NsId" value="2" /><br />

<label for="sTC028a_NodeId">NodeId:</label>
<input
  type="text"
  id="sTC028a_NodeId"
  name="sTC028a_NodeId"
  value="Methods_Void"
/><br />

<label for="sTC028a_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC028a_NodeIdType"
  name="sTC028a_NodeIdType"
  value="String"
/><br />

<label for="sTC028a_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC028a_BrowsePath"
  name="sTC028a_BrowsePath"
  value="Objects/CTT/Methods/Void"
/><br />
