<input
  type="text"
  name="sTC043_name"
  value="Subscribe to a non Server object"
/>
<label for="sTC043_NsId">NsId:</label>
<input type="text" id="sTC043_NsId" name="sTC043_NsId" value="6" /><br />

<label for="sTC043_NodeId">NodeId:</label>
<input
  type="text"
  id="sTC043_NodeId"
  name="sTC043_NodeId"
  value="MyDevice"
/><br />

<label for="sTC043_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC043_NodeIdType"
  name="sTC043_NodeIdType"
  value="String"
/><br />

<label for="sTC043_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC043_BrowsePath"
  name="sTC043_BrowsePath"
  value="Objects/MyObjects/MyDevice"
/><br />

<label for="sTC043_PublishingInterval">PublishingInterval:</label>
<input
  type="text"
  id="sTC043_PublishingInterval"
  name="sTC043_PublishingInterval"
  value="1000"
/><br />

<label for="sTC043_MaxNotification">MaxNotification:</label>
<input
  type="text"
  id="sTC043_MaxNotification"
  name="sTC043_MaxNotification"
  value="20"
/><br />

<label for="sTC043_KeepAliveCount">KeepAliveCount:</label>
<input
  type="text"
  id="sTC043_KeepAliveCount"
  name="sTC043_KeepAliveCount"
  value="10"
/><br />

<label for="sTC043_QueueSize">QueueSize:</label>
<input
  type="text"
  id="sTC043_QueueSize"
  name="sTC043_QueueSize"
  value="10"
/><br />
