<input type="text" name="sTC027_name" value="Write array" />
<label for="sTC027_NsId">NsId:</label>
<input type="text" id="sTC027_NsId" name="sTC027_NsId" value="6" /><br />

<label for="sTC027_NodeId">NodeId:</label>
<input
  type="text"
  id="sTC027_NodeId"
  name="sTC027_NodeId"
  value="UInt32Array"
/><br />

<label for="sTC027_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC027_NodeIdType"
  name="sTC027_NodeIdType"
  value="String"
/><br />

<label for="sTC027_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC027_BrowsePath"
  name="sTC027_BrowsePath"
  value="Objects/StaticData/StaticArrayVariables/UInt32Array"
/><br />

<label for="sTC027_ValueA">ValueA:</label>
<input type="text" id="sTC027_ValueA" name="sTC027_ValueA" value="101" /><br />

<label for="sTC027_ValueB">ValueB:</label>
<input type="text" id="sTC027_ValueB" name="sTC027_ValueB" value="202" /><br />

<label for="sTC027_ValueC">ValueC:</label>
<input type="text" id="sTC027_ValueC" name="sTC027_ValueC" value="303" /><br />

<label for="sTC027_ValueD">ValueD:</label>
<input type="text" id="sTC027_ValueD" name="sTC027_ValueD" value="404" /><br />

<label for="sTC027_ValueE">ValueE:</label>
<input type="text" id="sTC027_ValueE" name="sTC027_ValueE" value="505" /><br />
