<input type="text" name="sTC016_name" value="Browse next" />
<label for="sTC016_NsId">NsId:</label>
<input type="text" id="sTC016_NsId" name="sTC016_NsId" value="3" /><br />

<label for="sTC016_NodeId">NodeId:</label>
<input
  type="text"
  id="sTC016_NodeId"
  name="sTC016_NodeId"
  value="TestCase016"
/><br />

<label for="sTC016_NodeIdType">NodeIdType:</label>
<input
  type="text"
  id="sTC016_NodeIdType"
  name="sTC016_NodeIdType"
  value="String"
/><br />

<label for="sTC016_BrowsePath">BrowsePath:</label>
<input
  type="text"
  id="sTC016_BrowsePath"
  name="sTC016_BrowsePath"
  value="Objects/Simulation/TestCase016"
/><br />
